body {
  margin: 0;
  min-height: 100vh;
  background-color: #fdf5d7; /* ivory board background */
  color: #111111; /* default black text */
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#root {
  flex: 1;
}
